<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501626351362-iqcs2euaass4j2rdq90qsj8at9lca1fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501626351362-iqcs2euaass4j2rdq90qsj8at9lca1fi</string>
	<key>API_KEY</key>
	<string>AIzaSyDe45DVDplLt1uUeRhHZBztii4bGtjJJDg</string>
	<key>GCM_SENDER_ID</key>
	<string>501626351362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pp.ToDo</string>
	<key>PROJECT_ID</key>
	<string>to-do-7305a</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-7305a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501626351362:ios:36f63e469402279b8e1c1b</string>
</dict>
</plist>